.symbol {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.symbol img {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;
}
.symbol span {
  font-weight: 600;
  font-size: 1.4rem;
  color: #9fa6b7;
}
.success {
  color: #57bcb7;
}
.error {
  color: #d33636;
}
td {
  font-size: 1.6rem;
}
